<%if(locals.error && error !=""){%>
<div class="text-red-600 pb-3 text-center">
    <%= error%>
</div>
<%}%>
<%if(locals.successf && successf !=""){%>
<div class="text-lime-500">
    <%= successf %>
</div>
<%}%>