<nav class="bg-blue-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div
                class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0 gap-2">
                <button type="button"
                    class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden">
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                    </svg>
                </button>

                <!-- Profile dropdown -->
                <div class="relative ml-3">
                    <div class="profile flex">
                        <button type="button"
                            class="relative flex rounded-full bg-gray-800 text-sm focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden"
                            id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <%if(locals.user){%>
                            <img class="size-8 rounded-full" src="<%= user.avatar.replace('uploads','')%>" alt="logo">
                            <%}%>
                        </button>
                        <%if(locals.user){%>
                            <div class="text-white pr-2 flex items-center">
                                <h1>
                                    <%= user.name %>
                                </h1>
                            </div>
                            <%}%>
                    </div>
                    <div class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 ring-1 shadow-lg ring-black/5 focus:outline-hidden" id="p-info"
                        role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <div class="flex justify-end border-b-2">
                          <div class="hover:bg-slate-300" id="p-close">
                                <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Menu / Close_SM">
                                        <path id="Vector" d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16" stroke="#000000" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </svg>
                          </div>
                        </div>
                        <a href="/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-300" role="menuitem" tabindex="-1"
                            id="user-menu-item-0">ملفك الشخصي</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-300" role="menuitem" tabindex="-1"
                            id="user-menu-item-1">الاعدادات</a>
                        <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-300" role="menuitem" tabindex="-1"
                            id="user-menu-item-2">تسجيل الخروج</a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button type="button"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset"
                    aria-controls="mobile-menu" aria-expanded="false">
                    
                    <div id="menu" class="block">
                        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                            data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </div>
                    <div id="m-close" class="hidden">
                        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                            data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </div>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 border border-transparent hover:border-white hover:text-orange-400"
                            aria-current="page">صفحتي الشخصية</a>
                        <a href="#"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 border border-transparent hover:border-white hover:text-orange-400">اصدقائي</a>
                        <a href="/post/mePosts"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 border border-transparent hover:border-white hover:text-orange-400">منشوراتي</a>
                    </div>
                </div>
            </div>
          
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden absolute left-4 top-16 hidden bg-white shadow-lg border" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3">
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-lime-500 border border-white hover:border-lime-500 hover:text-orange-500"
                aria-current="page">صفحتي الشخصية</a>
            <a href="#"
                class="block rounded-md px-3 py-2 text-base font-medium text-lime-500 border border-white hover:border-lime-500 hover:text-orange-500">اصدقائي</a>
            <a href="/post/mePosts"
                class="block rounded-md px-3 py-2 text-base font-medium text-lime-500 border border-white hover:border-lime-500 hover:text-orange-500">منشوراتي</a>
        </div>
    </div>
</nav>