<%-include('../partials/header.ejs')-%>
<link rel="stylesheet" href="/filepond/dist/filepond.css">
<link rel="stylesheet" href="/filepond-plugin-media-preview/dist/filepond-plugin-media-preview.css">
<link rel="stylesheet" href="/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css">
<link rel="stylesheet" href="/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css">
<!-- video -->
<link rel="stylesheet" href="/filepond-plugin-video-preview/dist/filepond-plugin-video-preview.css">
<div class="flex justify-between p-3">
    <div class="flex items-center">
        <a class="hover:bg-slate-200 rounded-full p-2 ml-2" href="/">
            <svg fill="#000000" width="30px" height="30px" viewBox="0 0 32 32"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1"
                xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path
                    d="M25.468,14.508l-20.967,-0.008c-0.828,-0 -1.501,0.672 -1.501,1.499c-0,0.828 0.672,1.501 1.499,1.501l21.125,0.009c-0.107,0.159 -0.234,0.306 -0.377,0.439c-3.787,3.502 -9.68,8.951 -9.68,8.951c-0.608,0.562 -0.645,1.511 -0.083,2.119c0.562,0.608 1.512,0.645 2.12,0.083c-0,0 5.892,-5.448 9.68,-8.95c1.112,-1.029 1.751,-2.47 1.766,-3.985c0.014,-1.515 -0.596,-2.968 -1.688,-4.018l-9.591,-9.221c-0.596,-0.574 -1.547,-0.556 -2.121,0.041c-0.573,0.597 -0.555,1.547 0.042,2.121l9.591,9.221c0.065,0.063 0.127,0.129 0.185,0.198Z" />
                <g id="Icon" />
            </svg>
        </a>
        <h1>منشور محمد الجعمي</h1>
    </div>
</div>
<div class="container-post border-t-2 border-b-2 p-3">
    <div class="post-profile flex justify-between">
        <div class="profile-img flex items-center cursor-pointer">
            <div class="ml-2">
                <img class="h-14 w-14 rounded-full border-2 object-cover"
                    src="https://www.alaraby.com/themes/custom/arabytv/logo.svg?v=12" alt="logo">
            </div>
            <div>
                <h1>التلفزيون العربي</h1>
                <p>29-2-2024</p>
            </div>
        </div>
    </div>
    <div class="post-text">
        <p>
            أحدث إطلاق برنامج "آر 1" من تطبيق "ديب سيك" المنافس الصيني لـ"تشات جي بي تي" قبل بضعة أيام، ضجة في قطاع
            الذكاء
            الاصطناعي، لقدرته على مضاهاة منافسيه الأميركيين بكلفة أقل بكثير.

            والأسبوع الماضي، أطلقت شركة "ديب سيك" DeepSeek الصينية الناشئة نموذجًا جديدًا للذكاء الاصطناعي يشبه "تشات جي
            بي تي" (من
            "أوبن إيه آي") و"جيميناي" (من "غوغل") وغيرهما، ولكن بجزء بسيط من التكلفة التي تكبدتها الشركات العملاقة
            الأميركية.

            وقد أثار الاعتماد السريع لتقنية "ديب سيك" الدهشة والإعجاب، وأدى إلى تراجع كبير في أسهم شركة "إنفيديا" Nvidia
            (المورد
            الرائد لشرائح الذكاء الاصطناعي) في بورصة وول ستريت، وسط سيل من التحذيرات.

            تطبيق "ديب سيك" الصيني"
            وفي 20 يناير/ كانون الثاني الحالي، أطلقت "ديب سيك" في الصين نموذج ذكاء اصطناعي طوّرته بتكلفة منخفضة
            وباستخدام عدد قليل
            من الرقائق مقارنة بشركات الذكاء الاصطناعي الأخرى.

            وتجاوز النموذج الذي بدأ استخدامه على نطاق واسع في أنحاء العالم خلال مدة قصيرة، تطبيق "تشات جي بي تي"
            الأميركي ليصبح أكثر
            تطبيقات الذكاء الاصطناعي استخدامًا.


            وأثار التطور التكنولوجي الهائل للذكاء الاصطناعي، تساؤلات بين المستخدمين، حول من الأفضل تطبيق "ديب سيك"
            الجديد، أو "تشات
            جي بي تي".

            وللإجابة على هذه التساؤلات، قمنا بطرح السؤال التالي على "تشات جي بي تي"، "من الأفضل بينك وبين "ديب سيك"؟
            فكان الجواب:
            "أنا و"ديب سيك"، وغيره من نماذج الذكاء الاصطناعي، لدينا نقاط قوة وضعف، وكل منا مصمم بطريقة مختلفة لخدمة
            أغراض معينة.

            وعدد تطبيق "تشات جي بي تي" مميزاته:
            أستطيع التعامل مع مواضيع متنوعة، من الكتابة الإبداعية إلى البرمجة إلى التحليل العميق.
            الدعم متعدد اللغات: لدي قدرة قوية على فهم اللغة العربية والإنكليزية ولغات أخرى بسلاسة.
            التفاعل البشري: أستطيع توليد محتوى بأسلوب قريب من التفاعل البشري، مما يجعل المحادثات أكثر طبيعية.
            وأشار إلى أن ما قد يميز منافسه "ديب سيك":
            التدريب على البيانات الصينية: هو نموذج قوي جدًا في فهم وتحليل اللغة الصينية.
            تحسينات في استرجاع المعلومات: يمكن أن يكون أكثر دقة أحيانًا في استرجاع المعلومات التقنية.
            تركيز على الرياضيات والبرمجة: قد يكون لديه أداء أقوى في بعض الحسابات المعقدة.
            وخلص "تشات جي بي تي" إلى أن الأمر يعتمد على احتياجات المستخدم، فإذا كان يبحث عن تجربة محادثة طبيعية ومتعددة
            اللغات، "فهو
            جاهز لخدمته".

            أما إذا كان بحاجة إلى تحليل متعمق في بعض المجالات التقنية التي يتخصص بها، فتطبيق "ديب سيك"، قد يكون خيارًا
            جيدًا.
        </p>
    </div>
    <div class="post-audio flex flex-wrap gap-3">
        <img class="rounded-md pt-1"
            src="https://www.alaraby.com/sites/default/files/styles/d09_standard/public/2025-02/GettyImages-2197000261.webp?h=adf48559&itok=adHw51DY"
            alt="img">
        <img class="rounded-md bt-1" src="https://www.alaraby.com/sites/default/files/2023-07/LIve-ATVYT2023.png"
            alt="img">
    </div>
    <div class="flex justify-between p-4">
        <div>
            <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.47998 18.35L10.58 20.75C10.98 21.15 11.88 21.35 12.48 21.35H16.28C17.48 21.35 18.78 20.45 19.08 19.25L21.48 11.95C21.98 10.55 21.08 9.34997 19.58 9.34997H15.58C14.98 9.34997 14.48 8.84997 14.58 8.14997L15.08 4.94997C15.28 4.04997 14.68 3.04997 13.78 2.74997C12.98 2.44997 11.98 2.84997 11.58 3.44997L7.47998 9.54997"
                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" />
                <path
                    d="M2.38 18.35V8.55002C2.38 7.15002 2.98 6.65002 4.38 6.65002H5.38C6.78 6.65002 7.38 7.15002 7.38 8.55002V18.35C7.38 19.75 6.78 20.25 5.38 20.25H4.38C2.98 20.25 2.38 19.75 2.38 18.35Z"
                    stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="hover:bg-gray-200 rounded-xl">
            <svg width="40px" height="40px" viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M5.5 12C5.49988 14.613 6.95512 17.0085 9.2741 18.2127C11.5931 19.4169 14.3897 19.2292 16.527 17.726L19.5 18V12C19.5 8.13401 16.366 5 12.5 5C8.63401 5 5.5 8.13401 5.5 12Z"
                    stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M9.5 13.25C9.08579 13.25 8.75 13.5858 8.75 14C8.75 14.4142 9.08579 14.75 9.5 14.75V13.25ZM13.5 14.75C13.9142 14.75 14.25 14.4142 14.25 14C14.25 13.5858 13.9142 13.25 13.5 13.25V14.75ZM9.5 10.25C9.08579 10.25 8.75 10.5858 8.75 11C8.75 11.4142 9.08579 11.75 9.5 11.75V10.25ZM15.5 11.75C15.9142 11.75 16.25 11.4142 16.25 11C16.25 10.5858 15.9142 10.25 15.5 10.25V11.75ZM9.5 14.75H13.5V13.25H9.5V14.75ZM9.5 11.75H15.5V10.25H9.5V11.75Z"
                    fill="#000000" />
            </svg>
        </div>
        <div class="hover:bg-gray-200 rounded-xl">
            <svg width="40px" height="40px" viewBox="0 0 24 24" id="share" xmlns="http://www.w3.org/2000/svg">
                <rect id="Rectangle_3" data-name="Rectangle 3" width="24" height="24" fill="none" />
                <path id="Rectangle" d="M12,4V0l8,7-8,7V10S0,9.069,0,14.737C0,3.4,12,4,12,4Z" transform="translate(2 5)"
                    fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="1.5" />
            </svg>
        </div>
    </div>
</div>
<div class="m-4 flex">
    <div class="p-2">
        <img class="h-12 border w-12 rounded-full object-cover"
            src="https://www.alaraby.com/themes/custom/arabytv/logo.svg?v=12" alt="comment-user">
    </div>
    <div class="p-2 bg-gray-200 rounded-xl">
        <h1>
            فهمي على
        </h1>
        <p>
            ddldsladsladll
        </p>
    </div>
</div>
<div class="m-4 flex">
    <div class="p-2">
        <img class="h-12 border w-12 rounded-full object-cover"
            src="https://www.alaraby.com/themes/custom/arabytv/logo.svg?v=12" alt="comment-user">
    </div>
    <div class="p-2 bg-gray-200 rounded-xl">
        <h1>
            فهمي على
        </h1>
        <p>
            ddldsladsladlllllllllllllllllllllllllllllllllllllllll
        </p>
    </div>
</div>
<div class="h-20"></div>
<div class="fixed flex items-center bottom-0 right-0 w-full bg-white">
    <textarea rows="1" class="flex w-full p-2 m-4 bg-slate-200 rounded-xl outline-none resize-none overflow-hidden"
        name="comment" id="comment" placeholder="إكتب تعليق..."></textarea>
    <div class="flex items-center justify-center border border-black rounded-xl w-12 h-10 ml-2 hover:bg-slate-200">
        <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22 19.8201C15.426 21.392 8.574 21.392 2 19.8201" stroke="#0000FF" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            <path d="M7.05078 13.4601L16.9508 3.56006" stroke="#0000FF" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            <path
                d="M10.4805 3.04013L15.4805 2.97007C15.7457 2.96026 16.0102 3.00535 16.2573 3.10239C16.5044 3.19943 16.7288 3.34632 16.9165 3.53403C17.1042 3.72174 17.2512 3.94612 17.3483 4.19321C17.4453 4.4403 17.4903 4.70479 17.4805 4.97007L17.4105 9.97007"
                stroke="#0000FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
</div>
<script src="/filepond/dist/filepond.js"></script>
<script src="/filepond-plugin-media-preview/dist/filepond-plugin-media-preview.js"></script>
<script src="/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
<script src="/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
<script src="/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
<script src="/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<script src="/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
<!-- video show -->
<script src="/filepond-plugin-video-preview/dist/filepond-plugin-video-preview.js"></script>
<!-- public js -->
<script src="/js/post.js"></script>